NODE_ENV=production
HOST=127.0.0.1
PORT=8080

DB_CLIENT=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
PUBLIC_API_BASE=https://algoapi.foodcrisis.in
FRONTEND_URL=https://foodcrisis.in

FYERS_APP_ID=
FYERS_SECRET_KEY=
FYERS_REDIRECT_URL=http://127.0.0.1:8080/api/callback/fyers
FYERS_ACCESS_CODE=
FYERS_AUTH_CODE=

TELEGRAM_BOT_TOKEN=
MCX_CRUDE_FUTURE=NOV
MCX_GOLD_FUTURE=DEC
DEFAULT_STOCKS_NAMES=SRF,DIXON,ATUL,BAJFINANCE
TIMEFRAME=15
LOCAL_MODE=true
LIVEFEED=false
